.vl{
	border-right: solid black;
}
.olf{
	font-family: Comic Sans MS;
	font-size: 30px;
	font-color: gray;
}
.textopa{
	opacity: 0.5;
}
input:invalid{
border-color:red;
}
a:hover{
	color:green;
}
input:focus{
background-color:#ffe6e6;
}
